body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.security {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 70%;
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#output img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
#qrOutput button {
  padding: 7px 12px;
  background-color: #09ff00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* loader animation */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
#loaderText {
  display: none;
}
